CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
/.vs/openw3d-oW3Dedit/CopilotIndices/17.13.444.19527
/.vs/openw3d-oW3Dedit/FileContentIndex
/.vs/openw3d-oW3Dedit/v17/ipch/AutoPCH/87ce7b1cd4033cdd
/build
/out/build/x64-Debug/.cmake/api/v1/query/client-MicrosoftVS
/out/build/x64-Debug
/.vs/openw3d-oW3Dedit/v17
/.vs
/Debug
/oW3DEdit.dir/Debug
/x64/Debug
/oW3DDumpQt.vcxproj.user
/UpgradeLog.htm
/.qt
/oW3DDumpQt.dir
/oW3DEdit.dir/Release
/Release
